body{text-align:center}
#poza1{position: absolute; left:40px; top:120px}
#title1{position: absolute; left:40px; top:40px; z-index:1}
#par1{font-size:24px; margin-left:100px; margin-top:60px}
#par2{font-size:24px; margin-left:222px}
#par3{font-size:24px; margin-left:120px}
#par4{font-size:24px; margin-left:-32px}
#par5{font-size:24px}
#description{font-size:30px}
#container1{background-color:lightblue; width:700px; height:400px; border:5px double black; border-radius: 50px; transform: translateX(600px)}
